<template>
  <div>
    <eb-navbar></eb-navbar>
    <router-view></router-view>
    <eb-footer></eb-footer>
  </div>
</template>
<script>
import EbFooter from '../components/EbFooter.vue';
import EbNavbar from '../components/EbNavbar.vue';

export default {
  name: "TicketContainer",
  components: {
    EbNavbar,
    EbFooter
  }
};
</script>
