<template>
  <div>
    <div class="home-top">
      <b-container fluid>
        <b-row>
          <b-col sm="12" md="8" class="pl-4">
            <div class="ml-4 mt-5">
              <h3>King Gizzard & the Lizard <br />Wizard in Shanghai</h3>
              <p class="mb-0 mt-4">
                <span class="pr-3 mb-0"
                  ><i class="fa fa-calendar" aria-hidden="true"></i></span
                >Monday 21, 2019. 20:00
              </p>
              <p class="mb-0">
                <span class="pr-3 mb-0">
                  <i class="fa fa-map-marker" aria-hidden="true"></i
                ></span>
                Shanghai, <span class="hom-span"> Mercedes-Benz Arena</span>
              </p>
            </div></b-col
          >
          <b-col sm="12" md="4" class="py-3"
            ><img src="../../assets/KAMASI-Web.png" alt=""
          /></b-col>
        </b-row>
      </b-container>
    </div>
    <div class="collaps-div py-1">
      
      <b-container ><h5>FREQUENTLY ASKED QUESTIONS:</h5>
        <div>
          <p class="mb-0" v-b-toggle.accordion-1>Can I choose a specific seat? <span class="float-right color-b"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
          <b-collapse id="accordion-1" accordion="my-accordion" role="tabpanel">
            <h6 class="pl-2">hhejuewhjndc efnc dscb bc </h6>
          </b-collapse>
        </div><b-dropdown-divider></b-dropdown-divider>
         <div class="pt-1">
          <p class="mb-0" v-b-toggle.accordion-2>How do I pay for my tickets? <span class="float-right color-b"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
          <b-collapse id="accordion-2" accordion="my-accordion" role="tabpanel">
            <h6 class="pl-2">hhejuewhjndc efnc dscb bc </h6>
          </b-collapse>
        </div><b-dropdown-divider></b-dropdown-divider>
         <div class="pt-1">
          <p class="mb-0" v-b-toggle.accordion-3> What happens if the show gets cancelled? <span class="float-right color-b"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
          <b-collapse id="accordion-3" accordion="my-accordion" role="tabpanel">
            <h6 class="pl-2">hhejuewhjndc efnc dscb bc </h6>
          </b-collapse>
        </div><b-dropdown-divider></b-dropdown-divider>
         <div class="pt-1">
          <p class="mb-0" v-b-toggle.accordion-4> Will I get my money back?<span class="float-right color-b"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
          <b-collapse id="accordion-4" accordion="my-accordion" role="tabpanel">
            <h6 class="pl-2">hhejuewhjndc efnc dscb bc </h6>
          </b-collapse>
        </div><b-dropdown-divider></b-dropdown-divider>
         <div class="pt-1">
          <p class="mb-0" v-b-toggle.accordion-5>I live outside Shanghai, how can I get my tickets? <span class="float-right color-b"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
          <b-collapse id="accordion-5" accordion="my-accordion" role="tabpanel">
            <h6 class="pl-2">hhejuewhjndc efnc dscb bc </h6>
          </b-collapse>
        </div><b-dropdown-divider></b-dropdown-divider>
         <div class="pt-1">
          <p class="mb-0" v-b-toggle.accordion-6>QR code the first time! <span class="float-right color-b"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
          <b-collapse id="accordion-6" accordion="my-accordion" role="tabpanel">
            <h6 class="pl-2">hhejuewhjndc efnc dscb bc </h6>
          </b-collapse>
        </div><b-dropdown-divider></b-dropdown-divider>
         <div class="pt-1">
          <p class="mb-0" v-b-toggle.accordion-7> Can I pay online with a credit card? <span class="float-right color-b"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
          <b-collapse id="accordion-7" accordion="my-accordion" role="tabpanel">
            <h6 class="pl-2">hhejuewhjndc efnc dscb bc </h6>
          </b-collapse>
        </div><b-dropdown-divider></b-dropdown-divider>
         <div class="pt-1">
          <p class="mb-0" v-b-toggle.accordion-8>If I lose my ticket, can I get a replacement? <span class="float-right color-b"><i class="fa fa-plus" aria-hidden="true"></i></span></p>
          <b-collapse id="accordion-8" accordion="my-accordion" role="tabpanel">
            <h6 class="pl-2">hhejuewhjndc efnc dscb bc </h6>
          </b-collapse>
        </div>
      </b-container>
    </div>
  </div>
</template>

<script>
export default {
  name: "Details",
  components: {},
  props: {},
  data() {
    return {};
  },
  created() {},
  updated() {},
  mounted() {},
  computed: {},
  watch: {},
  methods: {},
};
</script>

<style scoped>
li{
  list-style: none;
}
.home-top {
  background-image: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(1, 0, 3, 0.28335084033613445) 0%,
      rgba(0, 0, 0, 0.38139005602240894) 0%
    ),
    url(../../assets/KAMASI-Web1.png);
  background-repeat: no-repeat;
  background-position: center;
  color: #fff !important;
}
.home-top h3 {
  font-size: 40px;
  line-height: 64px;
  font-weight: 600;
  color: #fff !important;
}
.home-top p {
  font-size: 18px;
  line-height: 34px;
  font-weight: 500;
  color: #fff !important;
}
.hom-span {
  font-size: 18px;
  line-height: 34px;
  font-weight: 700;
  color: #fff !important;
  border-bottom: 1px solid #fff;
}
.home-top img {
  width: 100%;
}
.collaps-div p{
font-size: 16px;
  line-height: 34px;
  font-weight: 600;
  color: rgb(15, 13, 13) !important;
}
.collaps-div h5{
font-size: 20px;
  line-height: 34px;
  font-weight: 700;
  color: rgb(15, 13, 13) !important;
}
.color-b{
  color:rgba(23, 139, 251, 1);
}
</style>
