<template>
  <div>
      Ticket Home
  </div>
</template>

<script>
export default {
  name: "Home",
  components: {},
  props: {},
  data() {
    return {};
  },
  created() {},
  updated() {},
  mounted() {},
  computed: {},
  watch: {},
  methods: {}
};
</script>

<style scoped></style>
