<template>
  <div class="container-fluid p-0">
    <div class="container">
      <div class="row mt-5">
        <div class="col-lg-8 col-md-12 col-sm-12 col-12">
          <div class="text-center">
            <img
              src="../../assets/images/right-icon.png"
              alt="image"
              width="35"
            />
            <h3 class="font-weight-bold font-italic my-3 font-size-38">
              Your SmartTickets Order Is Now Being Processed
            </h3>
            <p>
              Thank you for using SmartTicket. We are now processing your order.
              E-tickets are sent out within minutes in a separate e-mail. For
              physical tickets, expect a final confirmation within one working
              day. You may track your order on our order status page.
            </p>
          </div>
          <div class="mt-5">
            <h5 class="font-weight-bold">ORDER SUMMARY</h5>
          </div>
          <div class="mt-5">
            <b-card class="px-2">
              <div
                class="row border-bottom-gray-1 mt-3"
                v-for="(item, i) in orderSummary"
                :key="i"
              >
                <div class="col-lg-4 col-md-4 col-sm-4 col-4 text-right mb-2">
                  <h5>{{ item.title }}</h5>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-8 col-8 mb-2">
                  <h5 class="font-weight-bold">{{ item.description }}</h5>
                </div>
              </div>
            </b-card>
          </div>
          <div class="mt-5">
            <p>
              Please take a moment to review your personal information as
              detailed in the email we just sent to hello@testjuli.com. Should
              you find any inaccuracies, please contact us here, or email us
              directly at smartticket@smartshanghai.com with
              <strong>“Order Number 85285”</strong> in the subject line.
            </p>
            <p class="font-weight-bold">
              You can now close this window or
              <span class="text-primary"> click here </span>to return to the
              SmartTicket home page.
            </p>
          </div>
        </div>
      </div>
    </div>
    <Venues />
    <Promoters/>
  </div>
</template>

<script>
import Promoters from '../../components/Promoters.vue';
import Venues from "../../components/Venues.vue";
export default {
  name: "OrderStatus",
  components: { Venues, Promoters },
  props: {},
  data() {
    return {
      orderSummary: [
        {
          title: "Full Name:",
          description: "Juli de No",
        },
        {
          title: "E-mail Address:",
          description: "Juli@smartshanghai.com",
        },
        {
          title: "Phone:",
          description: "93 134 764 234 195",
        },
        {
          title: "Payment Method:",
          description: "WechatPay 2020-02-13",
        },
        {
          title: "Delivery Information: ",
          description: "During office hours (10am-6pm) 3/F",
        },
        {
          title: "Delivery Address:",
          description: "W08-10, 168 Hubin Lu",
        },
        {
          title: "Notes:",
          description: "This is a test for Juli 19:30",
        },
        {
          title: "Tickets:",
          description: "Cats the Musical 1*Areag G",
        },
      ],
    };
  },
  created() {},
  updated() {},
  mounted() {},
  computed: {},
  watch: {},
  methods: {},
};
</script>

<style>
.font-size-38 {
  font-size: 38px;
}
.border-bottom-gray-1 {
  border-bottom: 1px solid #d5d5d5;
}
</style>
