<template>
  <div class="container mt-5">
    <h4 class="font-weight-bold pb-3">Promoters we work with</h4>
    <div class="row my-4">
      <div
        class="col-lg-1 col-md-2 col-sm-3 col-3"
        v-for="(item, i) in imgData"
        :key="i"
      >
        <img src="../assets/images/aeg-img.png" width="50" alt="image" class="mb-3" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Promoters",
  data() {
    return {
      imgData: [
        {
          img: "../assets/images/aeg-img.png",
        },
        {
          img: "../assets/images/live-nation-img.png",
        },
      ],
    };
  },
};
</script>

<style lang="scss" scoped></style>
