<template>
  <div class="bg-light mt-5">
    <div class="container pt-5">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
          <div class="d-flex justify-content-between">
            <h4 class="font-weight-bold">Venues we work with</h4>
            <h6 class="text-primary font-weight-bold">See all Sports</h6>
          </div>
          <div class="my-3">
            <b-carousel
              id="carousel-1"
              v-model="slide"
              :interval="4000"
              controls
              img-width="300"
              img-height="300"
              @sliding-start="onSlideStart"
              @sliding-end="onSlideEnd"
            >
              <b-carousel-slide>
                <template #img>
                  <div class="row">
                    <div
                      class="col-lg-3 col-md-3 col-sm-3 col-3"
                      v-for="(item, i) in slideData"
                      :key="i"
                    >
                      <div>
                        <img
                          src="../assets/images/slider-img.png"
                          class="w-100 rounded"
                          alt=""
                        />
                      </div>
                      <div class="mt-2">
                        <p class="font-weight-bold">{{ item.title }}</p>
                      </div>
                    </div>
                  </div>
                </template>
              </b-carousel-slide>
            </b-carousel>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Venues",
  data() {
    return {
      slide: 0,
      sliding: null,
      slideData: [
        {
          //   img: require("@/assets/images/slider-img.png"),
          title: "1862Theater",
        },
        {
          //   img: require("@/assets/images/slider-img.png"),
          title: "1862Theater",
        },
        {
          //   img: require("@/assets/images/slider-img.png"),
          title: "1862Theater",
        },
        {
          //   img: require("@/assets/images/slider-img.png"),
          title: "1862Theater",
        },
      ],
    };
  },
  methods: {
    onSlideStart(slide) {
      this.sliding = true;
    },
    onSlideEnd(slide) {
      this.sliding = false;
    },
  },
};
</script>

<style lang="scss"></style>
